*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# TODO Закомментируйте это правило, если вы в порядке с секретами, загружаемыми в репо
config/initializers/secret_token.rb

# Включите, только если у вас есть секреты производства в этом файле, который больше не является Rails по умолчанию
# config/secrets.yml

# dotenv
# TODO Закомментируйте это правило, если переменные окружения могут быть зафиксированы
.env

## Нормализация окружающей среды:
/.bundle
/vendor/bundle

# все они должны быть проверены для нормализации окружающей среды:
# Gemfile.lock, .ruby-version, .ruby-gemset

# если поддержка rvm < 1.11.0 или делать что-то фантастическое, игнорируйте это:
.rvmrc

# если использовать bower-rails игнорировать default bower_components путь файлы bower.json
/vendor/assets/bower_components
*.bowerrc
bower.json

# Игнорировать настройки среды pow
.powenv

# Игнорировать файл истории команд Byebug.
.byebug_history
